.filter {
    width: 500px;
    display: flex;
}
.filter {
    display: flex;
    margin: 10px 0;
    & > * { flex: 1 }

    input {
        padding: 5px;
        margin-right: 15px;
        border: thin gray solid;
    }
}
